@model FooterModel
@using Nop.Web.Models.Common;

<div class="footer">
	<div class="footer-top">
		<div class="our-location">
			<div class="footer-heading">
				@T("Footer.OurLocation")
			</div>
			<ul>
				<li>@T("Footer.OurLocation.Description")</li>
			</ul>
		</div>
		<div class="about-us">
			<div class="footer-heading">
				@T("Footer.AboutUs")
			</div>
		@T("Footer.AboutUs.Description")
		</div>
		<div class="subscribe">
			@Html.Action("NewsletterBox", "Newsletter")
		</div>
	</div>
	
	<div class="footer-bottom">
		<div class="footer-credit-icons">
			<ul>
				<li><img src="~/themes/00044/content/images/american-express-icon-.png" width="45px"; /></li>
				<li><img src="~/themes/00044/content/images/discover-icon-.png" width="45px"; /></li>
				<li><img src="~/themes/00044/content/images/mastercard-icon-.png" width="45px"; /></li>
				<li><img src="~/themes/00044/content/images/paypal-icon-.png" width="45px"; /></li>
				<li><img src="~/themes/00044/content/images/visa-icon-.png" width="45px"; /></li>
			</ul>
		</div>
		<div class="footer-poweredby">
			@*Powered by <a href="http://www.nopcommerce.com/">nopCommerce</a>*@
			@*Would you like to remove the "Powered by nopCommerce" link in the bottom of the footer?
				Find more info here http://www.nopcommerce.com/copyrightremoval.aspx*@
		</div>
		<div class="footer-disclaimer">
			@T("Content.CopyrightNotice", DateTime.Now.Year.ToString(), Model.StoreName)
		</div>
		<div class="footer-store-theme">
			@Html.Action("StoreThemeSelector", "Common")
		</div>
		@Html.Action("ChangeDeviceBlock", "Common")
		@Html.Widget("footer")
	</div>
</div>
